<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css">
</head>
<body>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Website</th>
            <th>Fundación</th>
          </tr>
        </thead>
        <tbody>      
            <% for (let i=0; i < APIResponse.length; i++) { %>
            <tr>
                <td><%=  APIResponse[i].name  %></td>
                <td><%=  APIResponse[i].website  %></td> 
                <td><%=  APIResponse[i].foundation  %></td>            
            </tr>
            <% } %>
                
        </tbody>
      </table>
</body>
</html>



